
.content {
	display: block;
	width: 340px;
	margin: 0 auto;
}


.faqtroubleshooting {
	text-align: left; 
	font-size:18px; 
	font-family: raleway; 
	font-weight: 500;
}

.gotaquestion {
	text-align: left; 
	font-size:13px; 
	font-family: raleway; 
	font-weight: 500;
}

.openfaq {
	font-size : 13px;
	font-family: raleway;
	color: #00D7DA;
	text-align : left;
	font-weight: 900;
}

a.openfaqlink {
	text-decoration: none;
}

